Source:            kiwami
Maintainer:        Chua Hou <human+github@chuahou.dev>
Section:           misc
Priority:          optional
Standards-Version: 3.9.2
Build-Depends:     debhelper (>= 11)
Homepage:          https://github.com/chuahou/kiwami

Package:      kiwami-all
Architecture: any
Depends:      ${shlibs:Depends}, ${misc:Depends},
 kiwami-scripts,
 kiwami-pkgs,
 kiwami-ppa-pkgs
Description:  kiwami metapackage
 Depends on all packages below.

Package:      kiwami-scripts
Architecture: any
Depends:      ${shlibs:Depends}, ${misc:Depends}
Description:  Miscellaneous scripts

Package:      kiwami-pkgs
Architecture: any
Depends:      ${shlibs:Depends}, ${misc:Depends},
# Development
 build-essential,
 cmake,
 git,
 gitg,
 haskell-platform,
 meld,
# User programs
 alacritty,
 flameshot,
 gimp,
 neovim,
 libreoffice,
 nautilus-dropbox,
 obs-studio,
 pandoc,
 pdf2svg,
 pdftk,
 telegram-desktop,
 vlc,
 zathura,
# LaTeX
 texlive,
 texlive-fonts-extra,
 texlive-latex-extra,
 texlive-science,
 texlive-xetex,
 latex-cjk-all,
# Fonts
 fonts-ipaexfont-gothic,
 fonts-materialdesignicons-webfont,
# IME
 ibus,
 ibus-mozc,
 mozc-utils-gui,
# System
 curl,
 cpufrequtils,
 gawk,
 libnotify-bin,
 snapd,
 tree,
 zsh,
# For coc.nvim
 nodejs,
 npm,
# For haskell-language-server
 libicu-dev,
 libncurses-dev,
 libgmp-dev,
 zlib1g-dev
Description: Customized metapackage
 Depends on standard apt packages I want.

Package:      kiwami-ppa-pkgs
Architecture: any
Depends:      ${shlibs:Depends}, ${misc:Depends},
# kgilmer/speed-ricer
 compton,
 dunst,
 fonts-source-code-pro-ttf,
 i3-gaps,
 polybar,
 rofi
Description:  Extra PPA source files
 Contains extra packages that can only be installed after adding PPAs. Depends
 on ppa:kgilmer/speed-ricer.
