Source:            kiwami-mgr
Maintainer:        Chua Hou <human+github@chuahou.dev>
Section:           misc
Priority:          optional
Standards-Version: 3.9.2
Build-Depends:     debhelper (>= 11)
Homepage:          https://github.com/chuahou/kiwami

Package:      kiwami-mgr
Architecture: any
Depends:      ${shlibs:Depends}, ${misc:Depends}
Description:  Package containing multiple install / uninstall scripts for
 pseudo-package management
