Source:            kiwami
Maintainer:        Chua Hou <human+github@chuahou.dev>
Section:           misc
Priority:          optional
Standards-Version: 3.9.2
Build-Depends:     debhelper (>= 11)
Homepage:          https://github.com/chuahou/kiwami

Package:      kiwami-all
Architecture: any
Depends:      ${shlibs:Depends}, ${misc:Depends},
 kiwami-scripts,
 kiwami-pkgs
Description:  kiwami metapackage
 Depends on all packages below.

Package:      kiwami-scripts
Architecture: any
Depends:      ${shlibs:Depends}, ${misc:Depends}
Description:  Miscellaneous scripts

Package:      kiwami-pkgs
Architecture: any
Depends:      ${shlibs:Depends}, ${misc:Depends},
# Development
 build-essential,
 cmake,
 git,
 gitg,
 haskell-platform,
 meld,
# User programs
 flameshot,
 gimp,
 neovim,
 libreoffice,
 nautilus-dropbox,
 pandoc,
 pdf2svg,
 pdftk,
 vlc,
 zathura,
# LaTeX
 texlive,
 texlive-fonts-extra,
 texlive-latex-extra,
 texlive-science,
 texlive-xetex,
 latex-cjk-all,
# Fonts
 fonts-ipaexfont-gothic,
 fonts-materialdesignicons-webfont,
# IME
 ibus,
 ibus-mozc,
 mozc-utils-gui,
# System
 curl,
 cpufrequtils,
 gawk,
 libnotify-bin,
 snapd,
 tree,
 zsh
Description: Customized metapackage
 Depends on standard apt packages I want.
